body {
	background-color: tomato;
	font-family: calibri;
	text-align: center;
}
h1 {
	font-size: 75px;
	margin: 0px;
}
p {
	font-size: 20px;
}
/*You know what, I might of left it in another puzzle's files. Weather or not I have is another issue*/